body{
  background:black;
  margin:0;
}
canvas{
  background:white;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  min-width:100vmin;
  min-height:100vmin;
  z-index:-1;
}